body {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}


.hero-section {
    /* background-color: #343a40;  */
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://images.unsplash.com/photo-1434725039720-aaad6dd32dfe?q=80&w=1642&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;

}

.hero-content {
    text-align: center;
    max-width: 700px;
}


.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
}


/* Múltiplos Botões: Adicione um segundo botão, com um estilo diferente (ex: apenas com borda, sem fundo), ao lado do primeiro. Como você usaria o Flexbox no .hero-content para alinhá-los?  */

.hero-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #e9ecef;
}


.hero-button {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 30px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-novo{
    padding: 15px 25px;
    color: #ffffff;
    border: black solid 2px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}


.hero-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}